@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

// Set your brand colors
$coral: #dd6361;
$cream: #eef0f2;

// Update Bulma's global variables
$family-primary: "Permanent Marker", cursive;
$family-secondary: "Roboto", sans-serif;
$primary: $coral;
$white: $cream;

// Update some of Bulma's component variables


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass"